/* Medium screen / desktop*/

$xs: 320px;
$sm: 576px;
$md: 768px;
$mobile: 767px;
$lg: 992px;
$tablet: 991px;
$desktop: 1024px;
$xl: 1200px;
$sxl: 1600px;
$mxl: 1900px;

/* larger-screens */

$sxl-max: ($sxl - 1);

/** Extra large **/

$xl-max: ($xl - 1);

/* Large screen / wide desktop*/

$lg-max: ($lg - 1);

/* Medium screen / desktop*/

$md-max: ($md - 1);

/* Tiny screen / phone*/

$sm-max: ($sm - 1);

/*font-families */

/*=============================================
                  Font Family
=============================================*/

/* Title Font Family*/

$font-family: "Montserrat", sans-serif;
$font-neo: "Noe Display", sans-serif;
