.col-12
  h2 Badges
  .my-4
    span.mr-2.badge.badge-default Default
    span.mr-2.badge.badge-primary Primary
    span.mr-2.badge.badge-secondary Secondary
    span.mr-2.badge.badge-info Info
    span.mr-2.badge.badge-success Success
    span.mr-2.badge.badge-danger Danger
    span.mr-2.badge.badge-warning Warning
  hr