.col-12
  h2 Buttons
  .my-4
    button.btn.btn-primary(type='button') Button
    button.btn.btn-icon.btn-3.btn-primary(type='button')
      span.btn-inner--icon
        i.fa.fa-atom
      span.btn-inner--text With icon
    button.btn.btn-icon.btn-2.btn-primary(type='button')
      span.btn-inner--icon
        i.fa.fa-atom
  .my-4
    h5 Variations        
    button.btn.btn-default(type='button') Default
    button.btn.btn-primary(type='button') Primary
    button.btn.btn-secondary(type='button') Secondary
    button.btn.btn-info(type='button') Info
    button.btn.btn-success(type='button') Success
    button.btn.btn-danger(type='button') Danger
    button.btn.btn-warning(type='button') Warning
  .my-4
    h5 Outlines        
    button.btn.btn-outline-default(type='button') Default
    button.btn.btn-outline-primary(type='button') Primary
    button.btn.btn-outline-secondary(type='button') Secondary
    button.btn.btn-outline-info(type='button') Info
    button.btn.btn-outline-success(type='button') Success
    button.btn.btn-outline-danger(type='button') Danger
    button.btn.btn-outline-warning(type='button') Warning
  .my-4
    h5 Sizes        
    button.btn.btn-primary.btn-lg(type='button') Large button
    button.btn.btn-secondary.btn-lg(type='button') Large button
    button.btn.btn-primary.btn-sm(type='button') Small button
    button.btn.btn-secondary.btn-sm(type='button') Small button
  .my-4
    h5 Blocks        
    button.btn.btn-primary.btn-lg.btn-block(type='button') Block level button
    button.btn.btn-secondary.btn-lg.btn-block(type='button') Block level button
  .my-4
    h5 Disabled        
    button.btn.btn-lg.btn-primary(type='button', disabled='') Primary button
    button.btn.btn-secondary.btn-lg(type='button', disabled='') Button
  hr
