.col-12
  h2 Cards
  .row
    .col-md-4
      h5 Card with image
      .card(style='width: 20rem;')
        img.card-img-top(src='https://picsum.photos/id/237/200/100', alt='Card image cap')
        .card-body
          h5.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href='javscript:void(0)') Go somewhere

    .col-md-4
      h5 Card with stats
      .card.card-stats.mb-4.mb-lg-0(style='width: 20rem;')
        .card-body
          .row
            .col
              h5.card-title.text-uppercase.text-muted.mb-0 Total traffic
              span.h2.font-weight-bold.mb-0 350,897
            .col-auto
              .icon.icon-shape.bg-danger.text-white.rounded-circle.shadow
                i.fas.fa-chart-bar
          p.mt-3.mb-0.text-muted.text-sm
            span.text-success.mr-2
              i.fa.fa-arrow-up
              |  3.48%
            span.text-nowrap Since last month
  hr
