.col-12
  h2 Forms
  h5 Inputs (With Border)
  form
    .row
      .col-md-6
        .form-group
          input.form-control(type='email', placeholder='name@example.com')
      .col-md-6
        .form-group
          input.form-control(type='text', placeholder='Regular', disabled='')
    .row
      .col-md-6
        .form-group
          .input-group.mb-4
            .input-group-prepend
              span.input-group-text
                i.fa.fa-search
            input.form-control(placeholder='Search', type='text')
      .col-md-6
        .form-group
          .input-group.mb-4
            input.form-control(placeholder='Birthday', type='text')
            .input-group-append
              span.input-group-text
                i.fa.fa-search
    .row
      .col-md-6
        .form-group.has-success
          input.form-control.is-valid(type='text', placeholder='Success')
      .col-md-6
        .form-group.has-danger
          input.form-control.is-invalid(type='email', placeholder='Error Input')
  h5 Alternative Input (with box-shadow)
  form
    .row
      .col-md-6
        .form-group
          input.form-control.form-control-alternative(type='email', placeholder='name@example.com')
      .col-md-6
        .form-group
          input.form-control.form-control-alternative(type='text', placeholder='Regular', disabled='')
    .row
      .col-md-6
        .form-group
          .input-group.input-group-alternative.mb-4
            .input-group-prepend
              span.input-group-text
                i.fa.fa-search
            input.form-control.form-control-alternative(placeholder='Search', type='text')
      .col-md-6
        .form-group
          .input-group.input-group-alternative.mb-4
            input.form-control(placeholder='Birthday', type='text')
            .input-group-append
              span.input-group-text
                i.fa.fa-search
    .row
      .col-md-6
        .form-group.has-success
          input.form-control.form-control-alternative.is-valid(type='text', placeholder='Success')
      .col-md-6
        .form-group.has-danger
          input.form-control.form-control-alternative.is-invalid(type='email', placeholder='Error Input')
  .row.my-4
    .col-md-6
      h5 Textareas (With border)
      textarea.form-control(rows='3', placeholder='Write a large text here ...')
    .col-md-6
      h5 Alternative Textareas (With box shadow)
      textarea.form-control.form-control-alternative(rows='3', placeholder='Write a large text here ...')
  .row.my-4
    .col-md-6
      h5 Checkboxes (With Border)
      .custom-control.custom-checkbox.mb-3
        input#customCheck1.custom-control-input(type='checkbox')
        label.custom-control-label(for='customCheck1') Unchecked
      .custom-control.custom-checkbox.mb-3
        input#customCheck2.custom-control-input(type='checkbox', checked='')
        label.custom-control-label(for='customCheck2') Checked
      .custom-control.custom-checkbox.mb-3
        input#customCheck3.custom-control-input(type='checkbox', disabled='')
        label.custom-control-label(for='customCheck3') Disabled Unchecked
      .custom-control.custom-checkbox.mb-3
        input#customCheck4.custom-control-input(type='checkbox', checked='', disabled='')
        label.custom-control-label(for='customCheck4') Disabled Checked
    .col-md-6
      h5 Checkboxes (With box-shadow)
      .custom-control.custom-control-alternative.custom-checkbox.mb-3
        input#customCheck5.custom-control-input(type='checkbox')
        label.custom-control-label(for='customCheck5') Unchecked
      .custom-control.custom-control-alternative.custom-checkbox.mb-3
        input#customCheck6.custom-control-input(type='checkbox', checked='')
        label.custom-control-label(for='customCheck6') Checked
      .custom-control.custom-control-alternative.custom-checkbox.mb-3
        input#customCheck7.custom-control-input(type='checkbox', disabled='')
        label.custom-control-label(for='customCheck7') Disabled Unchecked
      .custom-control.custom-control-alternative.custom-checkbox.mb-3
        input#customCheck8.custom-control-input(type='checkbox', checked='', disabled='')
        label.custom-control-label(for='customCheck8') Disabled Checked
  .row.my-4
    .col-md-6
      h5 Radio Button (With Border)
      .custom-control.custom-radio.mb-3
        input#customRadio5.custom-control-input(name='custom-radio-2', type='radio')
        label.custom-control-label(for='customRadio5') Unchecked
      .custom-control.custom-radio.mb-3
        input#customRadio6.custom-control-input(name='custom-radio-2', checked='', type='radio')
        label.custom-control-label(for='customRadio6') Checked
      .custom-control.custom-radio.mb-3
        input#customRadio7.custom-control-input(name='custom-radio-2', disabled='', type='radio')
        label.custom-control-label(for='customRadio7') Disabled unchecked
      .custom-control.custom-radio.mb-3
        input#customRadio8.custom-control-input(name='custom-radio-2', checked='', disabled='', type='radio')
        label.custom-control-label(for='customRadio8') Disabled checkbox
    .col-md-6
      h5 Alternative Radio Button (With Box-shadow)
      .custom-control.custom-control-alternative.custom-radio.mb-3
        input#customRadio9.custom-control-input(name='custom-radio-2', type='radio')
        label.custom-control-label(for='customRadio9') Unchecked
      .custom-control.custom-control-alternative.custom-radio.mb-3
        input#customRadio10.custom-control-input(name='custom-radio-2', checked='', type='radio')
        label.custom-control-label(for='customRadio10') Checked
      .custom-control.custom-control-alternative.custom-radio.mb-3
        input#customRadio11.custom-control-input(name='custom-radio-2', disabled='', type='radio')
        label.custom-control-label(for='customRadio11') Disabled unchecked
      .custom-control.custom-control-alternative.custom-radio.mb-3
        input#customRadio12.custom-control-input(name='custom-radio-2', checked='', disabled='', type='radio')
        label.custom-control-label(for='customRadio12') Disabled checkbox
  .row.my-4
    .col-md-6
      h5 Toggle
      label.custom-toggle
        input(type='checkbox', checked='')
        span.custom-toggle-slider.rounded-circle
      span.clearfix
      label.custom-toggle
        input(type='checkbox')
        span.custom-toggle-slider.rounded-circle
    .col-md-6
      

  

  hr
