 
.py-3
  .container-fluid
    h1 Components
    hr
    .row
      include ./badges.pug
      include ./buttons.pug
      include ./progress.pug
      include ./cards.pug
      include ./tabs.pug
      include ./forms.pug
      include ./modals.pug
      include ./tables.pug
      include ./timelines.pug
      include ./charts.pug
      