.col-12
  h2 Modals  
  .row
    .col-md-3
      // Button trigger modal
      button.btn.btn-block.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal1')
        | Launch demo modal
      // Modal
      #exampleModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              | ...
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
    .col-md-3
      button.btn.btn-block.btn-primary.mb-3(type='button', data-toggle='modal', data-target='#modal-default') Default
      #modal-default.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-default', aria-hidden='true')
        .modal-dialog.modal-.modal-dialog-centered.modal-(role='document')
          .modal-content
            .modal-header
              h6#modal-title-default.modal-title Type your modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            .modal-footer
              button.btn.btn-primary(type='button') Save changes
              button.btn.btn-link.ml-auto(type='button', data-dismiss='modal') Close
    .col-md-3
      button.btn.btn-block.btn-warning.mb-3(type='button', data-toggle='modal', data-target='#modal-notification') Notification
      #modal-notification.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-notification', aria-hidden='true')
        .modal-dialog.modal-danger.modal-dialog-centered.modal-(role='document')
          .modal-content.bg-gradient-danger
            .modal-header
              h6#modal-title-notification.modal-title Your attention is required
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              .py-3.text-center
                i.ni.ni-bell-55.ni-3x
                h4.heading.mt-4 You should read this!
                p
                  | A small river named Duden flows by their place and supplies it with the necessary regelialia.
            .modal-footer
              button.btn.btn-white(type='button') Ok, Got it
              button.btn.btn-link.text-white.ml-auto(type='button', data-dismiss='modal') Close
    .col-md-3
      button.btn.btn-block.btn-default(type='button', data-toggle='modal', data-target='#modal-form') Form
      #modal-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-form', aria-hidden='true')
        .modal-dialog.modal-.modal-dialog-centered.modal-sm(role='document')
          .modal-content
            .modal-body.p-0
              .card.bg-secondary.shadow.border-0
                .card-header.bg-transparent.pb-5
                  .text-muted.text-center.mt-2.mb-3
                    small Sign in with
                  .btn-wrapper.text-center
                    a.btn.btn-neutral.btn-icon(href='#')
                      span.btn-inner--icon
                        i.fab.fa-github
                      span.btn-inner--text Github
                    a.btn.btn-neutral.btn-icon(href='#')
                      span.btn-inner--icon
                        i.fab.fa-google
                      span.btn-inner--text Google
                .card-body.px-lg-5.py-lg-5
                  .text-center.text-muted.mb-4
                    small Or sign in with credentials
                  form(role='form')
                    .form-group.mb-3
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                            i.ni.ni-email-83
                        input.form-control(placeholder='Email', type='email')
                    .form-group
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                            i.ni.ni-lock-circle-open
                        input.form-control(placeholder='Password', type='password')
                    .custom-control.custom-control-alternative.custom-checkbox
                      input#customCheckLogin.custom-control-input(type='checkbox')
                      label.custom-control-label(for='customCheckLogin')
                        span.text-muted Remember me
                    .text-center
                      button.btn.btn-primary.my-4(type='button') Sign in


  hr
