.col-12
  h2 Progress  
  .row
    .col-md-4
      .progress-wrapper
        .progress-info
          .progress-label
            span Task completed
          .progress-percentage
            span 40%
        .progress
          .progress-bar.bg-default(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
      .progress-wrapper
        .progress
          .progress-bar.bg-primary(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
    .col-md-4  
      .progress-wrapper
        .progress-info
          .progress-label
            span Task completed
          .progress-percentage
            span 50%
        .progress
          .progress-bar.bg-info(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width: 50%;')
      .progress-wrapper
        .progress
          .progress-bar.bg-success(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width: 50%;')
    .col-md-4  
      .progress-wrapper
        .progress-info
            .progress-label
              span Task completed
            .progress-percentage
              span 60%
        .progress
          .progress-bar.bg-danger(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
      .progress-wrapper
        .progress
          .progress-bar.bg-warning(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width: 70%;')
  hr
