.col-12
  h2 Tables  
  .row
    .col-md-12
      .table-responsive
        table.table.align-items-center
          thead.thead-light
            tr
              th(scope='col') Project
              th(scope='col') Budget
              th(scope='col') Status
              th(scope='col') Users
              th(scope='col') Completion
              th(scope='col')
          tbody
            tr
              th(scope='row')
                .media.align-items-center
                  a.avatar.rounded-circle.mr-3(href='#')
                    img(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
                  .media-body
                    span.mb-0.text-sm Lorem Ipsum
              td
                | $2,500 USD
              td
                span.badge.badge-dot.mr-4
                  i.bg-warning
                  |  pending
              td
                .avatar-group
                  a.avatar.avatar-sm(href='#', data-toggle='tooltip', data-original-title='Ryan Tompson')
                    img.rounded-circle(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
                  a.avatar.avatar-sm(href='#', data-toggle='tooltip', data-original-title='Romina Hadid')
                    img.rounded-circle(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
                  a.avatar.avatar-sm(href='#', data-toggle='tooltip', data-original-title='Alexander Smith')
                    img.rounded-circle(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
                  a.avatar.avatar-sm(href='#', data-toggle='tooltip', data-original-title='Jessica Doe')
                    img.rounded-circle(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
              td
                .d-flex.align-items-center
                  span.mr-2 60%
                  div
                    .progress
                      .progress-bar.bg-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              td.text-right
                .dropdown
                  a.btn.btn-sm.btn-icon-only.text-light(href='javascript:void(0)', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fas.fa-ellipsis-v
                  .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here
            tr
              th(scope='row')
                .media.align-items-center
                  a.avatar.rounded-circle.mr-3(href='#')
                    img(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
                  .media-body
                    span.mb-0.text-sm Lorem Ipsum
              td
                | $2,500 USD
              td
                span.badge.badge-dot.mr-4
                  i.bg-warning
                  |  pending
              td
                .avatar-group
                  a.avatar.avatar-sm(href='#', data-toggle='tooltip', data-original-title='Ryan Tompson')
                    img.rounded-circle(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
                  a.avatar.avatar-sm(href='#', data-toggle='tooltip', data-original-title='Romina Hadid')
                    img.rounded-circle(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
                  a.avatar.avatar-sm(href='#', data-toggle='tooltip', data-original-title='Alexander Smith')
                    img.rounded-circle(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
                  a.avatar.avatar-sm(href='#', data-toggle='tooltip', data-original-title='Jessica Doe')
                    img.rounded-circle(alt='Image placeholder', src='https://picsum.photos/id/237/50/50')
              td
                .d-flex.align-items-center
                  span.mr-2 60%
                  div
                    .progress
                      .progress-bar.bg-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
              td.text-right
                .dropdown
                  a.btn.btn-sm.btn-icon-only.text-light(href='javascript:void(0)', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fas.fa-ellipsis-v
                  .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here
            
  hr
