.col-12
  h2 Tabs  
  .row
    .col-md-6
      h5 Horizontal tab
      .card.shadow
        .card-body
          .nav-wrapper
            ul#tabs-icons-text.nav.nav-pills.nav-fill.flex-column.flex-md-row.custom-tabs(role='tablist')
              li.nav-item
                a#tabs-icons-text-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#tabs-icons-text-1', role='tab', aria-controls='tabs-icons-text-1', aria-selected='true')
                  | Home
              li.nav-item
                a#tabs-icons-text-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-icons-text-2', role='tab', aria-controls='tabs-icons-text-2', aria-selected='false')
                  | Profile
              li.nav-item
                a#tabs-icons-text-3-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-icons-text-3', role='tab', aria-controls='tabs-icons-text-3', aria-selected='false')
                  | Messages
          #myTabContent.tab-content
            #tabs-icons-text-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tabs-icons-text-1-tab')
              p.description
                | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
              
            #tabs-icons-text-2.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-icons-text-2-tab')
              p.description
                | Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            #tabs-icons-text-3.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-icons-text-3-tab')
              p.description
                | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
    .col-md-6
      h5 Vertical tab
      .card.shadow
        .card-body
          .row
            .col-md-4   
              .nav-wrapper
                ul#tabs-icons-text.nav.nav-pills.nav-fill.flex-column.custom-tabs.vertical(role='tablist')
                  li.nav-item
                    a#tabs-vert-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#tabs-vert-1', role='tab', aria-controls='tabs-vert-1', aria-selected='true')
                      | Home
                  li.nav-item
                    a#tabs-vert-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-vert-2', role='tab', aria-controls='tabs-vert-2', aria-selected='false')
                      | Profile
                  li.nav-item
                    a#tabs-vert-3-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-vert-3', role='tab', aria-controls='tabs-vert-3', aria-selected='false')
                      | Messages
            .col-md-8
              #myTabContent.tab-content
                #tabs-vert-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tabs-vert-1-tab')
                  p.description
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                  
                #tabs-vert-2.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-vert-2-tab')
                  p.description
                    | Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #tabs-vert-3.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-vert-3-tab')
                  p.description
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
  .row.mt-4
    .col-md-6
      h5 Variations (Two tab switch)
      .card.shadow
        .card-body
          .nav-wrapper
            .nav.nav-fill.flex-column.flex-md-row.two-tab-switch(role='tablist')
              a#tabs-variation-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#tabs-variation-1', role='tab', aria-controls='tabs-variation-1', aria-selected='true')
                | Home
              a#tabs-variation-1-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-variation-1-2', role='tab', aria-controls='tabs-variation-1-2', aria-selected='false')
                | Profile
            #myTabContent.tab-content
              #tabs-variation-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tabs-icons-text-1-tab')
                p.description
                  | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
              #tabs-variation-1-2.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-variation-1-2-tab')
                p.description
                  | Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            
    .col-md-6
      h5 Variations (gray background)
      .card.shadow
        .card-body
          .row
            .col-md-4  
              .nav-wrapper
                ul#tabs-icons-text.nav.nav-pills.nav-fill.flex-column.custom-tabs.vertical.color-gray(role='tablist')
                  li.nav-item
                    a#tabs-vert-vari-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#tabs-vert-vari-1', role='tab', aria-controls='tabs-vert-vari-1', aria-selected='true')
                      | Home
                  li.nav-item
                    a#tabs-vert-vari-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-vert-vari-2', role='tab', aria-controls='tabs-vert-vari-2', aria-selected='false')
                      | Profile
                  li.nav-item
                    a#tabs-vert-vari-3-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-vert-vari-3', role='tab', aria-controls='tabs-vert-vari-3', aria-selected='false')
                      | Messages
            .col-md-8
              #myTabContent.tab-content
                #tabs-vert-vari-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tabs-vert-vari-1-tab')
                  p.description
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                  
                #tabs-vert-vari-2.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-vert-vari-2-tab')
                  p.description
                    | Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #tabs-vert-vari-3.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-vert-vari-3-tab')
                  p.description
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.

  hr
