.col-12
  h2 Timelines 

  .row
    .col-md-6
      h5 One sided
      .timeline
        .timeline-position
          .timeline-content
            p Lorem ipsum..
        .timeline-position
          .timeline-content
            p Lorem ipsum..

    .col-md-6
      h5 Both sided
      .timeline.timeline-left-right
        .timeline-position.timeline-position-left
          .timeline-content
            p Lorem ipsum..
        .timeline-position.timeline-position-right
          .timeline-content
            p Lorem ipsum..

