
h2 Example
.nav-wrapper
  ul.nav.tabs.flex-column.flex-md-row(role='tablist')
    li.nav-item
      a#result-tab-2.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#result-2', role='tab', aria-controls='result', aria-selected='true')
        | Result
    li.nav-item
      a#code-tab-2.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#code-2', role='tab', aria-controls='code', aria-selected='false')
        | HTML(PUG)
    li.nav-item
      a#code-tab-3.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#code-3', role='tab', aria-controls='code', aria-selected='false')
        | JS (Jquery)
    li.nav-item
      a#code-tab-3.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#code-4', role='tab', aria-controls='code', aria-selected='false')
        | JS (Vanilla)
    li.nav-item
      a#code-tab-4.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#code-5', role='tab', aria-controls='code', aria-selected='false')
        | CSS

  .tab-content
    #result-2.tab-pane.result-tab.fade.show.active(role='tabpanel', aria-labelledby='result-tab-2')
      .card.shadow
        .card-body
          .stepper
            .step.active
              p step 1
              .d-flex
                button.next.btn.btn-primary Next
            .step
              p step 2
              .d-flex
                button.prev.btn.btn-primary Prev
                button.next.btn.btn-primary Next
            .step
              p step 3
              .d-flex
                button.prev.btn.btn-primary Prev
                button.btn.btn-primary Submit


    #code-2.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='code-tab-2')
      figure.highlight
        pre.language-html
          code.language-html.
            .stepper
              .step.active
                p step 1
                .d-flex
                  button.next.btn.btn-primary Next
              .step
                p step 2
                .d-flex
                  button.prev.btn.btn-primary Prev
                  button.next.btn.btn-primary Next
              .step
                p step 3
                .d-flex
                  button.prev.btn.btn-primary Prev
                  button.btn.btn-primary Submit
            
    #code-3.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='code-tab-3')
      figure.highlight
        pre.language-js
          code.language-js.
            class Stepper {
              constructor(selector) {
                this.stepper = $(selector);
                this.prevButton = this.stepper.find(".prev");
                this.nextButton = this.stepper.find(".next");

                this.init();
              }

              init() {
                this.addListener();
              }

              addListener() {
                const self = this;
                this.prevButton.on("click", function() {
                  // console.log(self.back);
                  self.goPrev($(this));
                });

                this.nextButton.on("click", function() {
                  // console.log(self.next);
                  self.goNext($(this));
                });
              }

              goPrev($this) {
                this.stepper.find(".step").removeClass("active");
                $this
                  .closest(".step")
                  .prev(".step")
                  .addClass("active");
              }

              goNext($this) {
                this.stepper.find(".step").removeClass("active");
                $this
                  .closest(".step")
                  .next(".step")
                  .addClass("active");
              }
            }

            export default Stepper;
    #code-4.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='code-tab-3')
      figure.highlight
        pre.language-js
          code.language-js.
            class Stepper {
              constructor(selector) {
                this.steppers = document.querySelectorAll(selector);

                this.init();
              }

              init() {
                this.addListener();
              }

              addListener() {
                const self = this;

                [].forEach.call(this.steppers, stepper => {
                  [].forEach.call(stepper.querySelectorAll(".step"), step => {
                    const prevButton = step.querySelector(".back");
                    const nextButton = step.querySelector(".next");

                    if (prevButton) {
                      prevButton.addEventListener("click", function() {
                        self.goPrev(this);
                      });
                    }
                    if (nextButton) {
                      nextButton.addEventListener("click", function() {
                        self.goNext(this);
                      });
                    }
                  });
                });
              }

              goPrev(triggerButton) {
                const step = triggerButton.closest(".step");

                step.classList.remove("active");
                step.previousElementSibling.classList.add("active");
              }

              goNext(triggerButton) {
                const step = triggerButton.closest(".step");

                step.classList.remove("active");
                step.nextElementSibling.classList.add("active");
              }
            }

            export default Stepper;

    #code-5.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='code-tab-3')
      figure.highlight
        pre.language-css
          code.language-css.
            .stepper > .step {
              display: none;
            }
            .stepper > .step.active {
              display: block;
            }


h2 Initialization
figure.highlight
  pre.language-js
    code.language-js.
      const stepper = new Stepper('.stepper');
h2 Methods available
figure.highlight
  pre.language-js
    code.language-js.
      stepper.goPrev()
      stepper.goNext()
