//
// Dropdown
//

@import "../core/dropdowns/dropdown";

.dropdown-menu > .header {
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  color: #455a64;
  font-size: 14px;
  border-radius: 4px 4px 0 0;
  padding: 0;
}
