//
// Navbar
//

@import "../core/navbars/navbar";
@import "../core/navbars/navbar-vertical";
@import "../core/navbars/navbar-search";
@import "../core/navbars/navbar-dropdown";
@import "../core/navbars/navbar-collapse";

// Main header

.main-header {
  box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.1);
}

.top-nav-search {
  @media (min-width: 768px) {
    width: 500px;
  }
}

// Hamburger

.hamburger {
  padding: 0px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  width: $hamburger-width;
  height: $hamburger-height;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  width: $hamburger-width;
  height: 3px;
  display: inline-block;
  position: relative;
  background-color: $hamburger-color;
  border-radius: 10px;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    width: $hamburger-width;
    height: 3px;
    background-color: $hamburger-color;
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}
