//
// Nav
//

@import "../core/navs/nav";
@import "../core/navs/nav-pills";

.tabs .nav-link.active {
  color: $link-color;
}

.navbar-brand-img {
  width: 40px;
}

.custom-tabs {
  &.nav-pills .nav-item {
    padding: 0;
  }

  &.nav-pills .nav-link {
    border-radius: 0;
    color: $gray-600;
    position: relative;

    &.active {
      background-color: $white;
      color: theme-color("primary");

      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: theme-color("primary");
        z-index: 1;
      }
    }
  }

  &.color-gray {
    &.nav-pills .nav-link {
      background-color: rgba(0, 0, 0, 0.05);
      box-shadow: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      &.active {
        background-color: $white;
        color: $black;
      }
    }

    &.nav-pills .nav-item:last-child .nav-link {
      border-bottom: 0;
    }
  }

  &.vertical.nav-pills .nav-link {
    &.active {
      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 3px;
        height: 100%;
        background-color: theme-color("primary");
      }
    }
  }
}

.custom-tabs-variation.vertical {
}

.two-tab-switch {
  .nav-link {
    background-color: #eeeff3;
    border-radius: 20px;
    transition: all 0.3s;
    // width: 110%;
    font-size: 0.875rem;
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

    &:first-child {
      right: -8px;
    }

    &:last-child {
      left: -8px;
    }

    &.active {
      background-color: $white;
      columns: theme-color("primary");
      z-index: 1;
    }
  }
}
