.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  /* The actual timeline (the vertical ruler) */
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: $timeline-line-color;
    top: 4px;
    bottom: 0;
    right: 100%;
    // margin-left: -3px;
  }

  &-left-right {
    @include bp(md) {
      &::after {
        left: 50%;
      }
    }
  }
}

/* Container around content */
.timeline-position {
  padding: 0 1rem 1rem;
  position: relative;
  background-color: inherit;
  width: 100%;

  &:last-child {
    padding-bottom: 0;
  }

  &-left {
    @include bp(md) {
      width: 50%;
    }
  }

  &-right {
    @include bp(md) {
      width: 50%;
    }
  }

  /* The circles on the timeline */
  &::after {
    content: "";
    position: absolute;
    width: $timeline-width;
    height: $timeline-height;
    left: -9px;
    background-color: white;
    border: 3px solid theme-color("primary");
    top: 4px;
    border-radius: 50%;
    z-index: 1;
  }
}

/* Place the container to the left */
.timeline-position-left {
  left: 0;

  @include bp(md) {
    text-align: right;
  }

  /* Add arrows to the left container (pointing right) */

  &.arrow {
    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 8px;
      width: 0;
      z-index: 1;
      right: 8px;
      border: medium solid rgba($color: #000000, $alpha: 0.1);
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent
        rgba($color: #000000, $alpha: 0.1);
    }
  }

  &::after {
    @include bp(md) {
      right: -9px;
      left: auto;
    }
  }
}

/* Place the container to the right */
.timeline-position-right {
  @include bp(md) {
    left: 50%;
  }

  /* Add arrows to the right container (pointing left) */

  &.arrow {
    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 8px;
      width: 0;
      z-index: 1;
      left: 8px;
      border: medium solid $timeline-line-color;
      border-width: 8px 8px 8px 0;
      border-color: transparent $timeline-line-color transparent transparent;
    }
  }

  &::after {
    left: -9px;
    right: auto;
  }
}

/* The actual content */
.timeline-content {
  background-color: $timeline-line-bg;
  position: relative;
  // border-radius: 6px;
  // border: 1px solid rgba($color: #000000, $alpha: 0.1);
  // padding: 1rem;
}
