.toc {
  position: sticky;
  top: 1rem;
  overflow-y: auto;
  height: calc(100vh - 4rem);
  font-size: 0.875rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  order: 2;
}

.toc-entry {
  font-size: 1rem;
  display: block;
  a {
    font-size: 90%;
    display: block;
    padding: 0.125rem 1.5rem;
    color: #99979c;
  }
}
