<!DOCTYPE html>
html(lang="en")
  - var pageName = "Home"
  - var page_name= "home"
  head
    include pug/base/head.pug
    +head(pageName)
  body    
    // Header
    // Sidebar
    include pug/components/sidebar.pug
    //- +sidebar('index')
    // Main content
    main.main-content
      include pug/base/header.pug
      include pug/modules/components/main.pug

    include pug/base/footer.pug
    include pug/base/scripts.pug
    +script(page_name)